@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #383e45;
    font-size: 0.9rem;
}

img{
    max-width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    nav{
    }

    ul{
        display: flex;
        list-style: none;
        padding: 10px 0;
    }

    li{
        margin-left: 30px;
    }

    a{
        text-decoration: none;
        color: #383e45;
    }
}

.site-title{
    width: 120px;
    padding: 10px 0;
    line-height: 1px;
}